<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Drive</title>
</head>
<body>
	<p>Click to drive...</p>
	<input type="button" value="Drive forward!" onclick="callbackClickDriveForward()">
	<input type="button" value="Drive backward" onclick="callbackClickDriveBackward()">
	<input type="button" value="Drive right!" onclick="callbackClickDriveLeft()">
	<input type="button" value="Drive left!" onclick="callbackClickDriveRight()">
</body>

<script>
    var sensorSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/sensor/');

    sensorSocket.onclose = function(e) {
        console.error('Sensor socket closed unexpectedly');
    };
    
    function callbackClickDriveForward(){
    	topic = "/hc04";
    	message = "Drive forward!"
    	sensorSocket.send('{"type":"publish_to_topic", "topic":"'+topic+
    		'", "message":"'+message+'"}')
    }
    
    function callbackClickDriveBackward(){
    	topic = "/hc04";
    	message = "Drive backward!"
    	sensorSocket.send('{"type":"publish_to_topic", "topic":"'+topic+
    		'", "message":"'+message+'"}')
    }
    
    function callbackClickDriveLeft(){
    	topic = "/hc04";
    	message = "Drive left!"
    	sensorSocket.send('{"type":"publish_to_topic", "topic":"'+topic+
    		'", "message":"'+message+'"}')
    }
    
    function callbackClickDriveRight(){
    	topic = "/hc04";
    	message = "Drive right!"
    	sensorSocket.send('{"type":"publish_to_topic", "topic":"'+topic+
    		'", "message":"'+message+'"}')
    }
</script>
</html>